<% layout("/layouts/boilerplate.ejs") %>
<body>
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <h3 class="text-center mb-4">Listing Details:</h3>
                <div class="card">
                    <img src="<%= list.image %>" class="card-img-top show-img" alt="Listing Image">
                    <div class="card-body">
                        <h4 class="card-title"><%= list.title %></h4>
                        <p class="card-text"><%= list.description %></p>
                        <p class="card-text"><strong>Price:</strong> &#8377;<%= list.price.toLocaleString("en-IN") %></p>
                        <p class="card-text"><strong>Location:</strong> <%= list.location %></p>
                        <p class="card-text"><strong>Country:</strong> <%= list.country %></p>
                    </div>
                </div>
                <div class="d-flex justify-content-between mt-4">
                    <a href="/listings/<%= list._id %>/edit" class="btn btn-warning">Edit</a>
                    <form method="post" action="/listings/<%= list._id %>?_method=DELETE">
                        <button class="btn btn-danger">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
